.totalClicks {
  background-color: white;
  border: solid 1px white;
  margin: 10px;
  width: 100px;
  padding: 5px;
  margin-top: 5px;
  border-radius: 4px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.board {
  max-width: 800px;
}

@media (max-width: 800px) {
  .board {
    max-width: 400px;
    color: #5c6898;
  }
}
