@import "./Constants.scss";

:root {
  --button-margin: #{$big-button-margin};
}

@media (max-width: $big-board-width) {
  :root {
    --button-margin: #{$small-button-margin};
  }
}

.btn {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: var(--button-margin);
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 5px 10px;
  color: #ffffff;
  background-color: #9555af;
}

.btn:hover {
  color: #9050aa;
  border-color: currentColor;
  background-color: white;
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 105, 180, 0.5),
    0 0 0 1.5px rgba(255, 105, 180, 0.5);
}

/* hide focus style if not from keyboard navigation */
.js-focus-visible .btn:focus:not(.focus-visible) {
  box-shadow: none;
}
