.totalClicks {
  background-color: white;
  border: black solid 2px;
  margin: 10px;
  width: 100px;
  padding: 5px;
  margin-top: 5px;
}

.board {
  max-width: 1000px;
}

@media (max-width: 800px) {
  .board {
    max-width: 400px;
    color: #5c6898;
  }
}
