.button {
  display: inline-block;
  padding: 10px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #5c6898;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #373f5b;
  margin-left: 10px;
  margin-top: 5px;
}

.button:hover {
  background-color: #515b86;
}

.button:active {
  background-color: #515b86;
  box-shadow: 0 2px #1f2333;
  transform: translateY(3px);
}

:root {
  --button-margin: 10px;
}

@media (max-width: 800px) {
  :root {
    --button-margin: 4px;
  }
}

.btn {
  /* default for <button>, but useful for <a> */
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;

  /* create a small space when buttons wrap on 2 lines */
  margin-left: var(--button-margin);

  /* invisible border (will be colored on hover/focus) */
  border: solid 1px transparent;
  border-radius: 4px;

  /* size comes from text & padding (no width/height) */
  padding: 0.5em 1em;

  /* make sure colors have enough contrast! */
  color: #ffffff;
  background-color: #9555af;
}

/* inverse colors on hover */
.btn:hover {
  color: #9050aa;
  border-color: currentColor;
  background-color: white;
}

/* make sure we have a visible focus ring */
.btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 105, 180, 0.5),
    0 0 0 1.5px rgba(255, 105, 180, 0.5);
}

/* hide focus style if not from keyboard navigation */
.js-focus-visible .btn:focus:not(.focus-visible) {
  box-shadow: none;
}
